* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #1f2937;
    height: 100vh;
    padding: 3ch 20ch;
}

main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links {
    display: flex;
    gap: 3rem;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20ch 0;
    gap: 5rem;
}

.header-logo h1 {
    font-size: 24px;
    color: #f9faf8;
}

.hero-text h2 {
    color: #f9faf8;
    font-size: 48px;
}

.hero-text p {
    padding-bottom: 1rem;
}

.hero-text p, .links, .hero-button {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 3px;
    padding: 5px 30px;
}

.hero figure img {
    border-radius: 1rem;
}

.hero figure figcaption {
    color: #f9faf8;
    font-size: 8px;
    font-style: italic;
    text-align: right;
}

footer {
    color: #e5e7eb;
    background-color: #1f2937;
}

.grid-section {
    text-align: center;
    padding: 10ch 20ch;
}

.grid-section h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
}

.grid-area {
    display: flex;
    padding: 5ch 0;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.grid-area div {
    width: 150px;
    height: 150px;
    border: 1px solid #3882f6;
    border-radius: .80rem;
}

.quote-area {
    padding: 10% 31%;
    background-color: #e5e7eb;
}

.quote-area p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-area h4 {
    text-align: end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 20ch;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    padding: 10ch 15ch;
    border-radius: 1.2rem;
    gap: 5rem;
}

.call-to-action button {
    padding: 5px 30px;
}